body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #1D0C20;
    padding: 12px 30px;
    color: #f5f5f5;
    text-align: center;
    border-radius: 3px;
    border: 0;
    margin-bottom: 12px;
    font-size: 16px;
}

input {
    width: 70%;
    margin-bottom: 20px;
    height: 22px;
    border-radius: 2.75px;
    border: 0;
    padding: 2.5px;
    color: #1D0C20;
    font-size: 16px;
    padding: 5px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #231f98;
}

a {
    font-size: 12px;
}

.container {
    background-color: #200D23;
    font-size: 15px;
    color: #f5f5f5;
    width:  700px;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 12px;
    text-align: center;
}

.header {
    text-align: center;
    padding: 25px;
}
.header-title {
    font-weight: 600;
    font-size: 26px;
    padding-bottom: 20px;
    color: #FECD23;
}

.sub-container {
    background-color: #5A1C64;
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.scont-title {
    font-weight: 250;
    padding: 16px;
    font-size: 22px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #5084F4;
    margin: 5px;
    border-radius: 10px;
    border: 10px solid #2D30B1;
    width: 170px;
    font-size: 23px;
    padding-top: 35px;
    height: auto;
}